@import url('index_aditya.css');

.container{
    border:3px solid black;
    width:800px;
    /* height:800px; */
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.row{
    height:auto;
}
.row:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/span 2;
}
.row:nth-child(4){
    grid-column: 1/span 2;
}
.fullrow{
    grid-column: 1/span 2;;
}
.cell{
    margin: 20px 0;
}
h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 2;
}
p{
    font-family: 'Exo 2', sans-serif;
}
